<div class="modal fade" id="modal1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header setting">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{l10n "Set"}}</h4>
      </div>
      <div class="modal-body setting">
          <div class="blue_area">
        <!--<p>{{ text }}</p>-->
            <span class="photo">
           <img src="{{ avatarURL }}">
            </span>
              <span>
          {{ name }} {{ condition }}</span>
          </div>

          <a id="modal-logout">{{l10n "Log out"}}</a>
            <div class="lang">
              {{l10n "language"}}
              <select id="selLanguage">
                  <option value="ko">한국어</option>
                  <option value="zh">中國語</option>
                  <option value="ja">日本語</option>
                  <option value="en">English</option>
              </select>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal-btn-close" class="btn btn-default" data-dismiss="modal">{{l10n "cancel"}}</button>
        <button type="button" id="modal-btn-ok" class="btn btn-default">{{l10n "Confirm"}}</button>
        <button type="button" id="modal-btn-retry" class="btn btn-primary">{{l10n "Retry"}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
