<div class="top_header main">
    <div class="c_align">
        <ul>
            <li class="line"><a href="#service">{{l10n "link_service"}}</a></li>
            <li><a id="li_chat">{{l10n "link_chat"}}</a></li>
        </ul>
    </div>
</div>

<div class="boby_contant main">
    <div class="main_top">
        <div class="c_align">
            <img src="img/mainlogo.png" alt="" />
            <p>
                <a href="https://itunes.apple.com/kr/app/id1186321238" target="_blank"><img src="img/ios.png" alt="" /></a>
                <a href="https://play.google.com/store/apps/details?id=kr.cnktech.messenger&hl=ko" target="_blank"><img src="img/google.png" alt="아바톡" /></a>
            </p>
        </div>
    </div>
    <div class="main_top2">
        <div class="c_align">

        </div>
    </div>

    <div class="main_top3">
        <div class="c_align">
            <div class="text_area">
                <h3>ⓒ언제 어디서나 즐거운 이야기<span>ⓒ앱에서 가입하면 별도 설치없이 <br />웹에서 가능</span></h3>

            </div>
            <div class="photo_area">
                <img src="img/service_photo1.png" alt="" />
            </div>
            <img src="img/service_photo1-1.png" alt="" class="ava1"  />
        </div>
    </div>
    <div class="main_top4">
        <div class="line">
            <div class="c_align r one">
                <div class="photo_area">
                    <img src="img/service_photo2.png" alt="" />
                </div>
                <div class="text_area">
                    <h3>ⓒ사람과 사람을 잇는 메신저<span>ⓒ특별한 설정 없이 자신의 관심사를 토대로 <br />공개 채팅이 가능합니다.</span></h3>
                </div>
                <img src="img/service_photo2-1.png" alt="" class="ava2"  />
            </div>
        </div>
        <div class="line">
            <div class="c_align tow">
                <div class="text_area">
                    <h3>ⓒ안전한 메신저<span>ⓒ체계적으로 암호화된 시스템 기반의 <br />채팅을 통해 여러분이 <br />주고받은 메시지는 암호화되고 <br />언제든지 삭제가 가능합니다.</span></h3>

                </div>
                <div class="photo_area">
                    <img src="img/service_photo3.png" alt="" />
                </div>
                <img src="img/service_photo3-1.png" alt="" class="ava3"  />
                <img src="img/service_photo3-2.png" alt="" class="ava4"  />
            </div>
        </div>
        <div class="line">
            <div class="c_align r three">
                <div class="photo_area">
                    <img src="img/service_photo4.png" alt="" />
                </div>
                <div class="text_area">
                    <h3>ⓒ채팅만 해도 쌓이는 포인트<span>ⓒ광고를 보거나 다른 앱을 설치할 필요 없이 <br />채팅만 해도 현금처럼 사용가능한  <br />포인트가 쌓입니다.</span></h3>
                </div>
                <img src="img/service_photo4-1.png" alt="" class="ava5"  />
            </div>
        </div>
        <div class="line">
            <div class="c_align four">
                <div class="text_area">
                    <h3>ⓒ귀여운 아바타 키우기<span>ⓒ채팅으로 얻은 포인트를 이용해서 여러분의 아바타를 육성하는 재미를 느껴보세요!.</span></h3>
                </div>
                <div class="photo_area">
                    <img src="img/kakao.png" alt="" />
                </div>
            </div>
        </div>

    </div>


</div>

<div class="bottom_f main">
    <p><a href="#service">{{l10n "link_service"}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="m_none"><a id="li_chat2">{{l10n "link_chat"}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a href="#privacy">{{l10n "link_privacy"}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#terms">{{l10n "link_terms"}}</a></p>
    <p>Copyright 2016 C&amp;K Technology. All Rights Reserved.</p>
</div>
</body>
