<li class="cell-user" data-title="{{ nick_name }}" data-id="{{ id }}">
    <div class="avatar-holder" style="background-image: url({{ avatarURL }})"></div>
    <span class="title"> {{ nick_name }} </span>
    <button id="btn{{ id }}" data-id="{{ id }}" style="display:none">{{l10n "Fire"}}</button>
</li>
