<li class="cell-user" data-id="{{ id }}" data-title="{{ nick_name }}">
    <div class="avatar-holder" style="background-image: url({{ avatarURL }})"></div>
    <span class="title"> {{ nick_name }} </span>
    <!--<p>{{ avatarURL }}</p>-->
</li>
