<li class="cell-user" data-id="{{ id }}" data-title="{{ title }}" data-profile="{{ avatarURL }}"
    data-moderators="{{ moderators }}" data-division="{{ division }}">
    <div class="avatar-holder" style="background-image: url({{ avatarURL }})"></div>
	<span class="title"> {{ title }} </span>
	<p></p>
</li>
