    <div id="login-view" class="container">

        <div class="row">
        
          <div class="col-md-3 col-xs-1 col-sm-1"></div>
          
          <div class="col-md-6 col-xs-10 col-sm-10 login">
  
            <form class="spika-form">
            
                <h2 class="form-signin-heading">{{l10n "Reset password"}}</h2>

                <p id="country_code"></p>
                <p id="phone_number"></p>
                <p>{{l10n "Please enter the code sent to this number"}}</p>

                <div class="form-group input_area" id="divTel1">
                    <div class="form-label">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{l10n "Authentication code"}}
                    </div>
                    <input type="text" id="input-authcode" class="form-control">
                    <div class="label-error"></div>
                </div>
                
                <!--<div class="spacer">
    
                </div>-->
                
                <div class="btn btn-lg btn-primary btn-block" id="btn-enter">{{l10n "Confirm"}}</div>

            </form>

              <p class="info_t">{{l10n "Sign up now"}}</p>
              <a href="https://play.google.com/store/apps/details?id=kr.cnktech.messenger&hl=ko" target="_blank"><img src="img/google.png" alt="아바톡" /></a>
              <a href="https://itunes.apple.com/kr/app/id1186321238" target="_blank"><img src="img/ios.png" alt="아바톡" /></a>

          </div>
          
          <div class="col-md-3 col-xs-1 col-sm-1"></div>
          
        </div>

    
    </div>
    
